 <!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>About</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <h1>About Moodoo: The Boredom Cure</h1>
   <p>Moodoo is an activity recommendation app that curates personalized activities based on your mood. The name Moodoo comes from the words "mood" and "do". This current version is our MVP (minimum viable product). In the near future, we would love to add more features such as the capability for users to crowdsource their activity ideas onto Moodoo for other users to rate and access. </p>
   <h2>Code Snippets</h2>
   <p>Here is some of our Ruby and HTML/CSS code: <br> HTML Code Snippet: <br> <form method="POST" action="/dog">
   <div class = "row col-sm-8 col-sm-offset-2"> First Name: 
     <br>
     <input type="text" name="name" placeholder="First Name" > 
     <br>
     <br> 
       </div> 
    <div class ="row col-sm-10 col-sm-offset-1"> Mood:
     <br>
      </div>
      <img src="public/images/lazy.jpg" alt="I'm Lazy" style="width:304px;height:228px;">
      <img src="images/productive.jpg" alt="I'm Productive" style="width:304px;height:228px;">
      <img src="images/creative.jpg" alt="I'm Creative" style="width:304px;height:228px;">
      <img src="images/curious.jpg" alt="I'm Curious" style="width:304px;height:228px;"> <br> <br>Ruby Code Snippet: <br> class Mood
  attr_accessor :name, :mood 
  def initialize (name, mood)
    @name = name.capitalize
    @mood = mood.capitalize
  end <br> <br> CSS Code Snippet: <br> @import url(http://fonts.googleapis.com/css?family=Quicksand);
body {
  background-color: white;
}
h1 {
  color: #24578B; 
  font-family: 'Quicksand', sans-serif;
  font-weight: bold; <br>
   </p>
 </body>
</html>
