 <!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>About</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <h1>About Moodoo: The Boredom Cure</h1>
   <p>Moodoo is an activity recommendation app that curates personalized activities based on your mood. The name Moodoo comes from the words "mood" and "do". This current version is our MVP (minimum viable product). In the near future, we would love to add more features such as the capability for users to crowdsource their activity ideas onto Moodoo for other users to rate and access. </p>
   <h2>Code Snippets</h2>
   <img src="creativity.png" alt="html" height="300" width="200"> 
    <img src="mood_class.png" alt="ruby" height="300" width="200"> 
    <img src="mvc.png" alt="mvc" height="300" width="200"> 
     <img src="css.png" alt="css" height="300" width="200">
 </body>
</html>
