<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>creativity </title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
   <link rel="stylesheet" href="css/stylemood.css" type="text/css">
 </head>
 <body><center>
   <h1>CREATIVITY <br> get your creative juices flowing </h1>
  <h2> Hi, <%= @mood1.name %>! <br> Here are some activity recommendations we curated just for you... </h2>
   <ul>
     <li> <a href="http://creativesomething.net/">Get inspired</a></li>
     <li> <a href="https://www.codeschool.com/courses/try-ruby">Create a asdfajsdlfkj</a></li>
     <li> <a href="https://www.youtube.com/playlist?list=PL9FAD1F67270AC45B">Design a sdflsdfj</a></li>
   </ul>
   </center></body>
</html>
