<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>curiosity </title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <h1>curiosity <br> learn something new </h1>
  <h2>Here are some curated learning guides </h2>
   <ul>
     <li> <a href="tv.erb">Watch TV and movies for free</a></li>
     <li> <a href="music.erb">Listen to music for free</a></li>
   </ul>
 </body>
</html>
