<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>curiosity </title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
   <link rel="stylesheet" href="css/stylemood.css" type="text/css">
 </head>
 <body>
   <h1>curiosity <br> learn something new </h1>
   <h2><p>Hi, <%= @mood1.name %>! Here are some activity recommendations we curated just for you...</p> </h2>
   <ul>
     <li class ="links"> <a href="https://www.youtube.com/watch?v=wI-ZtymtWpE">Learn how to play 10 songs on the guitar in 10 minutes</a></li>
     <li> <a href="https://www.codeschool.com/courses/try-ruby">Learn the basics of the Ruby programming language</a></li>
     <li> <a href="https://www.youtube.com/playlist?list=PL9FAD1F67270AC45B">Learn how to edit video like a pro</a></li>
     <li> <a href="http://mashable.com/2013/06/18/learn-cooking-vine/">Learn a new recipe in 15 seconds</a></li>
   </ul>
 </body>
</html>
