<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="style.css">
   <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>Boredom</title>
 </head>
 <body>
   <center> <h1 > Moodoo </h1>
   <h2> If you are ready to leave the lonely town of Boredom, please click on your MOOD  or desired                            activity (what you want to DO) below. If you are indecisive like me, just choose Random... </h2>
   <h4 id = b class = "button"><a href = "02.html" >Random </a> </h4>
   <h1>            </h1>
   <h4 id = g class = "cat-title"> I'm feeling...  </h4>
   <h3> Select A Mood  </h3>
   <h4 id = g class = "moo-title "> <a href = "lazy.erb" >Lazy </a> </h4>
   <h4 id = g class = "moo-title"> <a href = "productive.erb" >Productive </a> </h4>
   <h4 id = g class = "moo-title"> <a href = "creative.erb" >Creative </a> </h4>
   <h4 id = g class = "moo-title"> <a href = "curious.erb" >Curious</a> </h4>
   <h4 id = g class = "cat-title"> Activity </h4>
   <h4 id = g class = "act-title"> <a href = "views/tv.erb" >TV </a> </h4>
   </center>
 </body>
</html>
   
<---   <form method="POST" action="/bore">
   </form> --->
