<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Boredom</title>
 </head>
 <body>
   <h1 > Welcome to Boredom </h1>
   <h2> If you are ready to leave the lonely town of Boredom, please click below for a random activity generator or a manual generator. </h2>
   <h4 id = b class = "button"><a href = "02.html" >Random </a> </h4>
   <h1>            </h1>
   <h4 id = g class = "button"> <a href = "03.html" >Manual </a> </h4>
 </body>
</html>
   
<---   <form method="POST" action="/bore">
   </form> --->
