 <!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>lazy </title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
   <link rel="stylesheet" href="css/stylemood.css" type="text/css">
 </head>
 <body><center>
   <h1>LAZY <br> let's procrastinate</h1>
  <h2> <p>Hi, <%= @mood1.name %>! <br> Here are some activity recommendations we curated just for you...</p> </h2>
   <ul>
     <li class ="links"> <a href="tv.erb"style="TEXT-DECORATION:NONE">Watch TV and movies for free</a></li>
     <li class ="links"> <a href="music.erb"style="TEXT-DECORATION:NONE">Listen to music for free</a></li>
   </ul>
   </center>
 </body>
</html>
