 <!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Lazy </title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <h1>lazy <br> let's procrastinate</h1>
  <h2> <p>Hi, <%= @mood.name %>! Here are some activity recommendations we curated just for you...</p> </h2>
   <ul>
     <li> <a href="tv.erb">Watch TV and movies for free</a></li>
     <li> <a href="music.erb">Listen to music for free</a></li>
   </ul>
 </body>
</html>
