 <!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Feeling Lazy? </title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <h1>Feelin' Lazy?</h1>
  <h2>Here are some curated activities to help you procrastinate effectively... </h2>
   <ul>
     <li> <a href="tv.erb">Watch TV and movies for free</a></li>
     <li> <a href="music.erb">Listen to music for free</a></li>
   </ul>
 </body>
</html>
