 <!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Music</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <h1>Music</h1>
   <ul>
     <li> <a href="http://songza.com/">Search for music by mood or activity.</a></li>
     <li> <a href="http://vevo.com/">Watch popular music videos.</a></li>
   </ul>
 </body>
</html>
