 <!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Music</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <h1>Music</h1>
   <img src="http://i.imgur.com/Vfoqf5j.gif" alt="Listeningtomusic" height="350px" width="290px"> 
    <ul>
     <li> <a href="http://songza.com/">Songza: Search for music by mood or activity.</a></li>
     <li> <a href="http://8tracks.com/">8tracks: Create and listen to indie music playlists.</a></li>
     <li> <a href="https://www.thisismyjam.com/">This Is My Jam: Discover other people's favorite songs.</a></li>
     <li> <a href="http://vevo.com/">Vevo: Watch popular music videos.</a></li>
     
   </ul>
 </body>
</html>
