<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Being Productive</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
   
 </head>
 <body>
   <h1> Feelin' Productive? </h1> 
   <h2> Here are some curated activities for you to boost your productivity...</h2>
   
   <ul>
     <li> <a href="url">Whistle While You Work</a></li>
     <li> </li>
     <li> </li>
     <li> </li>
     <li> </li>
     <li> </li>
     <li> </li>
     <li> </li>
     <li> </li>
     <li> </li>
     
   </ul>
     
 </body>
</html>