<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>productivity</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
   <link rel="stylesheet" href="css/stylemood.css" type="text/css">
   
 </head>
 <body><center>
   <h1> PRODUCTIVITY <br> get stuff done </h1> 
  <h2> <p>Hi, <%= @mood1.name %>! <br> Here are some activity recommendations we curated just for you...</p> </h2>
   
   <ul>
     <li class ="links"> <a href="http://songza.com/discover/activities/work_study_instrumentals/"style="TEXT-DECORATION:NONE">Whistle While You Work</a></li>
     <li class ="links"> <a href="http://www.forbes.com/sites/work-in-progress/2012/10/14/24-ways-to-be-uncommonly-productive-today/"style="TEXT-DECORATION:NONE">24 ways to be more productive</a> </li>
     <li  class ="links"> <a href="https://www.psychologytoday.com/blog/communication-success/201206/how-be-ultra-productive-10-tips-mastering-your-time"style="TEXT-DECORATION:NONE">10 more tips!</a> </li>
     <li class ="links"> <a href="http://tiphero.com/10-free-and-productive-ways-to-conquer-boredom-when-youre-not-home/"style="TEXT-DECORATION:NONE">Ways to be productive on the go!</a></li>
     <li class ="links"> <a href="http://www.lifehack.org/articles/productivity/when-youre-bored-these-15-productive-things.html"style="TEXT-DECORATION:NONE">How to be productive when bored</a> </li>
     <li class ="links"> <a href="http://lifehacker.com/top-10-ways-to-make-this-school-year-your-most-producti-1188607792"style="TEXT-DECORATION:NONE">Tips for school</a> </li>
     <li class ="links"> <a href="http://www.forbes.com/pictures/gkjk45edm/understand-your-bodys-ti/"style="TEXT-DECORATION:NONE">Helpful tips for work</a> </li>
     
     
   </ul>
   </center>
 </body>
</html>