<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Pumped Up!!</title>
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
 </head>
 <body>
   <h1>Feeling full of Energy?</h1>
   <h2>Here are some ways to let off that steam!</h2>
   <li> <a href="http://kidshealth.org/teen/food_fitness/exercise/easy_exercises.html">Easy workout for Teens</a> </li>
   <li> <a href="http://www.fitnessmagazine.com/workout/yoga/poses/beginner-yoga-poses/?page=3">Yoga</a> </li>
   <li> <a href="http://www.toneteen.com/pages/fitness.htm">Pick and have fun!</a></li>
   <li> <a href="https://www.youtube.com/playlist?list=PLcfgpjzMYTNWqhb2ZgEWNGqD00Pp_ugVW">Get up and dance!</a></li>
  </body>
</html>