<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Reading</title>
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
 </head>
 <body>
  <h1>Love to read?</h1>
   <h2>Then have we got books for you! Here are some places to find a new read!</h2>
   <li> <a href="http://www.goodreads.com/">GoodReads.com</a> </li>
   <li> <a href="https://kindle.amazon.com/">Amazon Kindle</a> </li>
   <li> <a href="https://www.fanfiction.net/">FanFiction.net</a> </li>
   <li> <a href="http://www.audible.com/">Audible.com</a> </li>
   <li> <a href="https://www.wattpad.com/">Wattpad.com</a> </li>
   <li> <a href="http://kissmanga.com/MangaList">Manga</a> </li>
 </body>
</html>