<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>T.V.</title>
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
   <link rel="stylesheet" type="text/css" href="css/style.css">
   <link rel="stylesheet" href="css/stylemood.css" type="text/css">
   
 </head>
 <body>
   <h1>Wanna start a new series, but don't know where to start?</h1>
  <h2>Well then, here are some ways to help you discover your new favorite show!</h2> 
   <ul>
     <li> <a href="http://kissanime.com/">Watch Anime</a> </li>
     <li> <a href="http://www.hulu.com/">Hulu.com</a> </li>
     <li> <a href="http://www.watchcartoononline.com/">For your cartoon watching needs</a> </li>
     <li> <a href="http://www.fox.com/full-episodes/">Fox.com</a></li>
     <li> <a href="http://www.nbc.com/video">NBC.com</a></li>
     <li> <a href="http://abc.go.com/shows/">ABC.com</a></li>
   </ul>
 </body>
</html>