@import url(http://fonts.googleapis.com/css?family=Slackey);
@import url(http://fonts.googleapis.com/css?family=Quicksand);
body {
  background-color: white;
}
h1 {
  color: blue; 
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 600%;
}

h2 {
  color: blue;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 300%;
}
h3 {
  color: blue;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 200%;
}
h4 {
  color: blue;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 150%;
}
